{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{%- set reldelim1 = reldelim1 is not defined and ' &raquo;' or reldelim1 %}
{%- set reldelim2 = reldelim2 is not defined and ' |' or reldelim2 %}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}

{%- macro relbar() %}
<div class="related">
    <ul>
        {%- block rootrellink %}
        <li><a href="http://phalconphp.com">Home</a> &raquo;</li>
        <li><a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>{{ reldelim1 }}</li>
        {%- endblock %}
        {%- for parent in parents %}
        <li><a href="{{ parent.link|e }}" {% if loop.last %}{{ accesskey("U") }}{% endif %}>{{ parent.title }}</a>{{ reldelim1 }}</li>
        {%- endfor %}
        {%- block relbaritems %} {% endblock %}
    </ul>
</div>
{%- endmacro %}


<html lang="en">
<head>
    {% if sourcename == "error.txt" %}
    <base href="http://face-orm.org/">
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {{ metatags }}
    {%- if not embedded and docstitle %}
    {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
    {%- else %}
    {%- set titlesuffix = "" %}
    {%- endif %}
    <title>{{ title|striptags }}{{ titlesuffix }}</title>
    <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Amaranth|Inconsolata|Ubuntu:400,500,700,300italic,400italic,500italic&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ pathto('_static/style.css', 1) }}" type="text/css" />
    <link rel="stylesheet" href="{{ pathto('_static/docs.css', 1) }}" type="text/css" />

    {%- if not embedded %}
    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:    '{{ url_root }}',
            VERSION:     '{{ release|e }}',
            COLLAPSE_MODINDEX: false,
            FILE_SUFFIX: '{{ file_suffix }}',
            HAS_SOURCE:  {{ has_source|lower }}
        };
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ pathto('_static/docs.js', 1) }}"></script>

    {%- if use_opensearch %}
    <link rel="search" type="application/opensearchdescription+xml"
          title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}"
          href="{{ pathto('_static/opensearch.xml', 1) }}"/>
    {%- endif %}
    <link rel="shortcut icon" href="{{ pathto('_static/favicon.ico', 1) }}"/>
    {%- endif %}
    {%- block linktags %}
    {%- if hasdoc('about') %}
    <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
    {%- endif %}
    {%- if hasdoc('genindex') %}
    <link rel="index" title="{{ _('Index') }}" href="{{ pathto('index') }}" />
    {%- endif %}



    {%- endblock %}
    {%- block extrahead %} {% endblock %}
</head>
<body>
<div id="body">

    <div id="header" >

        <div id="github">

            <!--
                <iframe
                    src="http://ghbtns.com/github-btn.html?user=laemons&repo=face&type=watch&count=true&size=large"
                    allowtransparency="true"
                    frameborder="0"
                    scrolling="0"
                    width="152"
                    height="30">
                </iframe>
            -->

        </div>

        <div id="title-block">
            <h1>Face</h1>
            <h2>Fast and Strong PHP ORM</h2>
        </div>

        <div id="leftmenu"> <a href="#">Installation</a> <a href="#">Documentation</a> </div>

        <div id="rightmenu"> <a href="#">Support</a> <a href="#">About</a> </div>

    </div>


    {%- block relbar1 %}{{ relbar() }}{% endblock %}



        <div class="document">
            {%- block document %}

                    {% block body %} {% endblock %}

                {%- endblock %}
        </div>




{%- block footer %}
<div id="footer">



    <p>
        {%- if hasdoc('copyright') %}
        {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
        {%- else %}
        {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
        {%- endif %}
    </p>



</div>
{%- endblock %}

</div>
</body>
</html>